html, body {
	overflow-x: hidden;
}
body {
	position: relative;
	padding: 8px 64px;
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #101018;
	color: #40f0c0;
	overflow-x: hidden;
	width: calc(100% - 128px);
}
a, a:active, a:visited {
	color: inherit;
}
a:hover {
	color: #ffffff;
}
#title {
	display: inline-block;
	font-size: 2em;
	font-family: "Times New Roman", "Comic Sans MS", serif;
	color: #219255;
	padding: 2px;
	position: absolute;
}
#navigation {
	display: inline-block;
	font-size: 1.5em;
	width: 100%;
	background-color: #181824;
	padding: 0.167em;
	position: relative;
}
#mobilenavigation {
	display: none;
	font-size: 1.5em;
	width: 100%;
	background-color: #181824;
	padding: 0.167em;
	visibility: hidden;
	position: relative;
}
.navButton {
	position: relative;
	display: inline-block;
	margin: 3px;
	background-color: #08080C;
	float: right;
	cursor: pointer;
	height: 1.5em;
	padding-top: 0.5em;
}
.navButton>a {
	top: 0.5em;
	padding: 0.5em;
	color: inherit;
	text-decoration: none;
}
#navigation>.navButton:hover {
	background-color: #202030;
}
.dropdown {
	position: absolute;
	top: 100%;
	min-width: 100%;
	height: 0px;
	background-color: #0C0C10;
	right: 0px;
	transition: height 0.5s ease-out;
	overflow: hidden;
	cursor: default;
}
.navButton:hover>.dropdown {
	height: auto;
}
.dropdown>a {
	display: block;
	width: 100%;
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
}
.dropdown>a:hover {
	background-color: #303040
}
.dropdown>a>div {
	margin: 0.5em;
}
.mobilemenu>a {
	display: block;
	width: 100%;
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
}
.mobilemenu>a:nth-child(odd) {
	background-color: #303040
}
.mobilemenu>a>div {
	margin: 0.5em;
}
#content {
	margin-top: 2em;
}
#content * {
	white-space: pre-line;
}
.mobilemenu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0C0C10;
	top: 0px;
	right: 0px;
	visibility: hidden;
	font-size: 2em;
}
.mobilemenu>p:nth-child(1) {
	font-size: 0.5em;
	margin-bottom: -1em;
}
::selection {
	background-color: #40f0c0;
	color:#101018;
}
::-moz-selection {
	background-color: #40f0c0;
	color:#101018;
}
@media (max-width: 59em) {
	#title {
		top: -1.33em;
	}
	#navigation {
		top: 3em;
	}
	#mobilenavigation {
		top: 3em;
	}
	#content {
		margin-top: 7em;
	}
}
@media (hover: none) {
	.navButton {
		position: static;
	}
	.mobilemenu.shown {
		visibility: visible;
	}
	#navigation {
		visibility: hidden;
		display: none;
	}
	#mobilenavigation {
		visibility: visible;
		display: inline-block;
	}
}