#hexp-options {
	max-width: calc(100% - 1rem);
	position: relative;
	overflow-x: scroll;

	@media (max-aspect-ratio: 1 / 1), (max-width: 800px) {
		margin-right: 1rem;
	}

	.hexp-gen-number-desc {
		display: block;
		margin: 0 0 8px 4px;
	}

	input[type=text], input[type=number], select {
		display: block;
		font-size: 1em;
		padding: 0.5em 0.3em;
		border-radius: unset;
		border: solid 2px #808080;
		background-color: #C0C0C0;
	}

	select.inline-select {
		margin: 0 8px 2px 0;
		float: left;
	}

	legend, fieldset {
		all: unset;
		display: block;
	}
	legend {
		float: left;
		width: 100%;
		padding: 4px;
		background-color: #202020;
		border: solid 1px #404040;
		box-sizing: border-box;

		& + div {
			display: inline-block;
			margin: 4px 0 2px;
			border-left: solid 2px #505050;
			padding: 4px 0 4px 4px;
			box-sizing: border-box;
			width: 100%;

			&:hover {
				border-left-color: #C0C0C0;

				&:has(legend + div:hover),
				&:has(.is-expanded + .hexp-options-collapse-target:hover),
				&:has(.hexp-options-list-box-content:hover)
				{
					border-left-color: #404040;
				}
			}
		}
	}

	button {
		appearance: none;
		border: none;
		padding: 4px 6px;
		display: block;
		cursor: pointer;
		font-size: 1em;
		border-radius: unset;
		border: solid 2px #808080;
		background-color: #C0C0C0;
	}
	.hexp-options-delete {
		margin: 0;
		display: block;
		box-sizing: border-box;
		height: 32px;
		width: 32px;
		background: none;
		border: none;
		font-size: 24px;
		color: #808080;
	}
	.hexp-options-add {
		margin-top: 8px;
	}

	.hexp-options-collapse-label {
		cursor: pointer;
		width: 100%;
		padding: 4px;
		background-color: #202020;
		border: solid 1px #404040;
		box-sizing: border-box;

		display: flex;
		&::before {
			content: "closed";
			overflow: hidden;
			text-indent: 100%;

			display: block;
			height: 32px;
			width: 32px;
			background-image: url("../images/icon-dropdown-closed.svg");

		}
		&.is-expanded::before {
			content: "opened";
			background-image: url("../images/icon-dropdown-open.svg");
		}
		span {
			display: block;
			margin: 4px;
			flex-grow: 1;
		}
	}

	.hexp-options-collapse-target {
		overflow: hidden;
		max-height: 0;
		transition: max-height 1s ease;
		box-sizing: border-box;
		width: auto;
		margin: 4px 0;

		.is-expanded + & {
			max-height: fit-content;
			border-left: solid 2px #505050;
			padding: 4px 0 4px 4px;

			&:hover {
				border-left-color: #C0C0C0;

				&:has(legend + div:hover),
				&:has(.is-expanded + .hexp-options-collapse-target:hover),
				&:has(.hexp-options-list-box-content:hover)
				{
					border-left-color: #404040;
				}
			}
		}
	}

	.hexp-options-option {
		display: block;
		padding: 8px 0;
		
		& + label {
			border-top: solid 1px #404040;
		}
		& + & {
			margin-top: 0;
		}
		& + * {
			margin-top: 8px;
		}
	}

	.hexp-options-list-box {
		.hexp-options-bar {
			background-color: #202020;
			border: solid 1px #404040;
			height: 0.5rem;
		}

		.hexp-options-list-box-content {
			border-left: solid 2px #505050;
			margin: 2px 0 8px;
			padding: 4px 0 4px 4px;

			&:hover {
				border-left-color: #C0C0C0;

				&:has(legend + div:hover),
				&:has(.is-expanded + .hexp-options-collapse-target:hover),
				&:has(.hexp-options-list-box-content:hover)
				{
					border-left-color: #404040;
				}
			}
		}

		.hexp-options-delete {
			float: right;
		}
	}

	.hexp-options-level, .hexp-options-level-down {
		
	}

	.hexp-options-list {
		
	}

	.hexp-options-arguments {
		border-top: solid 1px #404040;
		display: inline-block;
		width: 100%;
	}
}

#hexp-json {
	margin: 16px 0;

	button {
		appearance: none;
		border: none;
		border-radius: 8px;
		padding: 4px;
		display: inline-block;
		margin-top: 8px;
	}

	#hexp-json-textarea {
		display: block;
		resize: none;
		box-sizing: border-box;
		width: calc(100% - 1rem);
		height: 8rem;
		margin: 8px 0;
	}
}