@font-face{
	font-family: "pixel";
	src: url('../pixel.ttf');
}
@font-face{
	font-family: "big_pixel";
	src: url('../big_pixel.ttf');
}
body {
	background-image: url("../img/bedrock.png");
	background-size: 8rem;
	background-color: #404040;
	image-rendering: pixelated;
	image-rendering: crisp-edges;/*One or the other will work, hopefully.*/
	font-family: pixel;
	margin: 0;
}
#mapcontainer {
	margin: auto;
	width: 1152;
	height: 640px;
	position: relative;
	border-style: solid;
	border-width: 4px;
	margin-bottom: 3rem;
}
#mapcontainer>canvas {
	position: absolute;
}
#mcmap {
	background-image: url("../img/stone.png");
	background-size: 8rem;
	background-color: #808080;
	image-rendering: pixelated;
	image-rendering: crisp-edges;/*One or the other will work, hopefully.*/
}
#overlay {
	pointer-events: none;
}
#points {
	pointer-events: none;
}
#tileStorage {
	display: none;
}
#infoTxt {
	height: 2rem;
	width: 80%;
	position: absolute;
	bottom: 10%;
	left: 10%;
	text-align: center;
	background-color: #404040;
	color: #ffffff;
	font-size: 0.5rem;
	visibility: hidden;
}
#infoTxt.shown {
	visibility: visible;
}
#jumpMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32,32,32,0.5);
	visibility: hidden;
}
#jumpMenu.shown {
	visibility: visible;
}
#jumpMenu>div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#jumpMenu>div:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
	text-align: center;
}
#infoMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32,32,32,0.5);
	visibility: hidden;
}
#infoMenu.shown {
	visibility: visible;
}
#infoMenu>div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#infoMenu>div:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
	text-align: center;
}
#jumpMenu>div>div {
	margin: 1em 0;
}
.divider {
	height: 0px;
	border-style: solid;
	border-width: 1px;
}
.divider>span {
	background-color: #404040;
	display: inline-block;
	padding: 0px 0.5em;
	transform: translate(0%,-0.5em);
}
#instr {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #404040;
	background-image: url("../img/bedrock.png");
	background-size: 8rem;
	visibility: visible;
}
#instr.hide {
	visibility: hidden;
}
#instr>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
}